

{% extends 'index.html' %}

{% block content %}
    <div class=productTable >
        <table class="primary">
            <thead>
              <tr>
                <!-- <th>Product</th>
                <th>Image</th>
                <th>Price</th> -->
              </tr>
            </thead>
            <tbody>
              {% for item in items %}
                <tr>
                  <td>{{ items.get(item)[0] }}</td>
                  <td><img class=table-img src={{ items.get(item)[2] }}></td>
                  <td>$ {{ '{:.2f}'.format(items.get(item)[1]/100) }}</td>
                  <td><a href=/cart/add-item/{{ (item, items.get(item)) }} >Add to cart</a></td>
                </tr>
              {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}
